DATABASE_URL=postgresql://postgres:fqsonfLkieLLghsNXIJTQVxqBLTvZdFp@caboose.proxy.rlwy.net:21993/railway
REDIS_URL=redis://default:LVHNNDVvQVdRjWwJugGDKCkYqssbqkNF@junction.proxy.rlwy.net:43330
JWT_SECRET=changeme
JWT_EXPIRES_IN=7d
PORT=3000
WS_PORT=1234
R2_BUCKET=
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
CLIENT_URL=http://localhost:5173
