DATABASE_URL=
REDIS_URL=
JWT_SECRET=changeme
JWT_EXPIRES_IN=7d
PORT=3000
WS_PORT=1234
CLIENT_URL=http://localhost:5173

STORAGE_PROVIDER=s3 # azure, s3, cloudinary

# azure storage
AZURE_BLOB_ACCESS_KEY=
AZURE_BLOB_ACCOUNT_NAME=
AZURE_BLOB_CONTAINER=

# Nodemailer Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Object Storage
MINIO_SECRET_KEY=
MINIO_ACCESS_KEY=
MINIO_ENDPOINT=
MINIO_SECURE="true"
MINIO_BUCKET=