DATABASE_URL=
REDIS_URL=
JWT_SECRET=changeme
JWT_EXPIRES_IN=7d
PORT=3000
WS_PORT=1234
R2_BUCKET=
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
CLIENT_URL=http://localhost:5173
AZURE_BLOB_ACCESS_KEY=
AZURE_BLOB_ACCOUNT_NAME=
STORAGE_PROVIDER=
AZURE_BLOB_CONTAINER=
